@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Добро пожаловать на стартовую страницу</h1>
    <p>По всем вопросам можно обратиться ко мне в телеграм Overlordhatiman</p>
</div>